*{
  box-sizing:border-box;
}
body{
  margin: 0px;
  padding: 0px;
  font-family: inconsolata;
  height: 100%;
  background-color:#b7d10f;
}
html{
  height: 100%;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
  width: 100%;
  padding:10px;
}
.header{
  width: 100%;
  background-color: rgb(91, 35, 35);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 8px;
}
.home{
  justify-content: center;
  display: flex;
  align-items: center;
  height: 75%;
  background-image: url('https://www.w3schools.com/w3images/coffeehouse.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  filter: grayscale(50%);
}

.home>span{
  display: block;
  color: rgb(247, 6, 6);
  font-size: 90px;
  text-align: center;
  line-height: 130px;
}
.timings>span{
  background-color: rgb(158, 43, 43);
  color: rgb(119, 14, 14);
  position: absolute;
  left: 20px;
  bottom: 15px;
}
.address>span{
  color: rgb(4, 179, 42);
  position: absolute;
  right: 20px;
  bottom: 15px;
}
.item{
  width: 24.9999%;
  text-align: center;
}
.item:hover>a{
  background-color: aliceblue;
  color: rgb(67, 14, 45);
}
.cafebody{
  width: 100%;
  text-align: center;
  padding: 0px 10px;
}
.container{
  max-width: 700px;
  margin:20px auto;
}
.container span{
  background-color: rgb(59, 7, 83);
  color: rgb(13, 169, 60);
  font-weight: 400;
  letter-spacing: 4px;
  padding: 5px;
}
.container h3{
  padding: 70px 0px;
  margin-top:10px 0px;
  font-size: 18px;
  line-height: 1.5;
}
p{
  text-align: left;
  font-size: 18px;
  line-height: 25px;
}
.motive{
  padding: 10px 16px;
  background-color: rgb(46, 128, 200);
  border-left: solid 6px #921111;
  font-style: italic;
  max-width: 700px;
  margin-bottom: 30px;
}
.container>img{
 max-width: 700px;
 width: 100%;
 filter:grayscale(50%);
}

.item>p{
  color: rgb(204, 20, 20);
}
.item>h3{
  padding: 10px 0px !important;
}
#Eat,#Drink{
  display: none;
  color: rgb(29, 29, 130);
}
.eat_container{
  display: none;
  background-color:rgb(13, 114, 158);
  margin-top: 15px;
  width: 100%;
  padding-top:48px ;
  padding-bottom: 48px ;
  padding-left: 10px;
  padding-right: 10px;
}
#Eat:checked~.eat_container{
  display: block;
}
#Eat:checked~.drink_container{
  display: none;
}

label{
  font-size: 20px;
}
.drink_container{
  display: block;
  background-color:rgba(8, 14, 195, 0.936);
  margin-top: 15px;
  width: 100%;
  padding-top:48px ;
  padding-bottom: 48px ;
  padding-left: 10px;
  padding-right: 10px;
}
label{
  display: inline-block;
  width: 50%;
  text-align: center;
  padding:5px;
}
#Eat:checked+label{
  background-color:rgb(107, 100, 100);
  color: white;
}
#Drink:checked+label{
  background-color:rgb(107, 100, 100);
  color: white;
}
.menu .item{
  width: 100%;
  text-align: left;
  padding: 10px 0px;
}
.item>h3{
  font-weight: normal;
}
.menu{
  box-shadow: 1px 1px 10px rgb(176, 13, 13);
  margin-bottom: 40px;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}
.container input{
  width:100%; 
  font-size: 20px;
  padding: 15px;
  margin-bottom: 20px;
  border: solid 1px #ccc;

}
.ping{
  text-align: left !important;
}
button{
  background-color: rgb(9, 140, 197);
  color: white;
  padding: 15px;
  border: 0;
  font-size: 15px;
  transition: all 0.15s ease;
}
button:hover{
  background-color: #601818;
  color: rgb(13, 17, 139);
}
.by{
  background-color: rgb(26, 129, 18);
  color: white;
  padding: 48px;
}